@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;0,900;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-right:18px;
}
.logo{
    height: 50px;
    width: 150px;
    flex-shrink: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-menu{
    display: flex;
    gap: 24px;
}
.nav-menu li a{
    font-size: 18px;
    color: #e5e7eb;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.main-img{
    width: 700px;
    height: auto;
    border-radius: 20px;
    filter: brightness(70%);
}
.main-top{
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: left;
    margin-bottom: 10px;
}
.btn{
    align-self: flex-start;
    margin: 0px 20px;
}

.btn button{
    background: #3882f6;
    color: #e5e7eb;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 20px;
    margin: 15px 0px;
}

.main-top h1{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
main{
    margin: 100px 12px;
}
main h1{
    margin-bottom: 70px;
    font-size: 2.5rem;
    color: #1f2937;
}
.child{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.middle-img{
    border-radius: 12px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.card{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 300px;
}
blockquote{
    background: #e5e7eb;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote-text{
    font-weight: 500;
    font-size: 46px;
}
.quote{
    border: 2px solid white;
    border-left: 15px solid white;
    padding: 60px;
}
.quote-author{
    font-size: 24px;
    text-align: right;
    font-weight: 600;
    color: #1f2937;
}