@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;0,900;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-right:18px;
}
.logo{
    height: 50px;
    width: 150px;
    flex-shrink: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-menu{
    display: flex;
    gap: 24px;
}
.nav-menu li a{
    font-size: 18px;
    color: #e5e7eb;
}