@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;0,900;1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
header{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-right:18px;
}
.logo{
    height: 50px;
    width: 150px;
    flex-shrink: 0;
    border-radius: 30px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-menu{
    display: flex;
    gap: 24px;
}
.nav-menu li a{
    font-size: 18px;
    color: #e5e7eb;
}

.nav-menu li a:hover,
.nav-menu li a:focus {
    cursor: pointer;
    font-weight: 600;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.main-img{
    width: 700px;
    height: auto;
    border-radius: 20px;
    filter: brightness(70%);
}
.main-img:hover,
.main-img:focus {
    transform: scale(1.1);
    filter: brightness(90%);
}
.main-top{
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: left;
    margin-bottom: 10px;
}
.btn{
    align-self: flex-start;
    margin: 0px 20px;
}

.btn button{
    background: #3882f6;
    color: #e5e7eb;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 20px;
    margin: 15px 0px;
}
.btn button:hover,
.btn button:focus {
    opacity: 0.8;
    border-radius: 6px;
    font-weight: 900;
}

.main-top h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
main{
    margin: 100px 12px;
}
main h1{
    margin-bottom: 70px;
    font-size: 2.5rem;
    color: #1f2937;
}
.child{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.middle-img{
    border-radius: 12px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.middle-img:hover,
.middle-img:focus {
    border: 3px solid #3882f6 ;
}
.card{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 300px;
}
blockquote{
    background: #e5e7eb;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote-text{
    font-weight: 500;
    font-size: 46px;
}
.quote{
    border: 2px solid white;
    border-left: 15px solid white;
    padding: 60px;
}
.quote-author{
    font-size: 24px;
    text-align: right;
    font-weight: 600;
    color: #1f2937;
}
.blank{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up{
    background-color: #3882f6;
    color: #e5e7eb;
    width: 1400px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* .buy{
    display: flex;
    align-items: center;
} */
.item{
    display: flex;
    flex-direction: column;
    width: 600px;
    text-align: left;
}   
.item h3{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}
.item p{
    font-weight:600;
}
.ctn{
    padding: 10px 60px;
    background-color: #3882f6;
    border: 1px solid #e5e7eb;
    border-radius: 2px;
    color: #e5e7eb;
    font-size: 24px;
    font-weight: 600;
}
.ctn:hover,
.ctn:focus {
    padding: 10px 80px;
    border-radius: 2px;
}
footer{
    background: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
}
footer ul li{
    list-style: none;
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.bottom li a{
    color: #e5e7eb;
}
.bottom li a:hover,
.bottom li a:focus{
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
}
footer h5{
    margin: 10px 30px;
}